extends ./navbar.pug

block content
	style.
		body{
		background: url(http://3.bp.blogspot.com/-bA3CYQg6ofk/UycCHKY2aiI/AAAAAAAAKeM/JYCcNSUzkMw/s1600/Guitar-HD-Wallpaper-13.jpg);  
		}
	head
		title Profile
	body
		.ui.stackable.grid
			.row
				.three.wide.column
					.ui.card 
						.image
							img(src="http://img.freepik.com/free-vector/profile-music-notes-background_23-2147492175.jpg?size=338&ext=jpg")
						.content
							.header= user[0].username
								h4 Joined in:
									p= user[0].time
							.meta
								h4 Email:
								p= user[0].email
							.meta
								h4 Gender:
								p= user[0].gender
				.ten.wide.column
					.ui.segment
						.card.content
							.ui.horizontal.list
								.item
									h3 City
									.ui.header= user[0].city
								.item
									h3 Country
									.ui.header= user[0].country 
								.item
									h3 Age
									.ui.header= user[0].age
							br
							.ui.horizontal.list
								.item
									h3 Instrument
									.ui.header= user[0].mainInstrument
								.item
									h3 Can also play
									.ui.header= user[0].otherInstrument
								.item
									h3 Looking for
									.ui.header= user[0].lookingFor
								.item
									h3 Genre
									.ui.header= user[0].genre
							br
							.ui.horizontal.list
								.item
									h3 Decription	
									.ui.header= user[0].description
							br
							.ui.horizontal.list
								.item
									h3
										a.centered(href='/info') Click here to fill in your info
				.three.wide.column
			.row
				.ten.wide.column
					p 
				

	// Body

		